<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" 
    integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" 
    integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <body>
        <h1 class="text-center">Simple HTTP Restful methods</h1>
        <div id="jsonData" class="container-fluid">
                <h2>Http Patch</h2>
                <p>Instructions
                    <ul>
                        <li>Modify the values in text boxes</li>
                        <li>Check the check box for the corresponding row where the value needs to be updated</li>
                        <li>Click the update button to update the record</li>
                        <li style="font-weight:bold">At this time only one row can be updated at a time by this application</li>
                    </ul>
                </p>
            <table class="table" id="jsonTable">
                <thead>
                    <tr>
                        <th>Selector</th>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Gender</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody id="jsonTableBody"></tbody>
            </table>

            <button class="btn btn-primary" onClick="UpdateRow()">Update Row</button>
            [<a href="./index.html">Go Back</a>]
        </div>

       
    </body>
    
    <script type="text/javaScript">

/*************************************************************************************
Step 1: Use fetch function for Http Get call, and fetch response of data present in
        the model
*************************************************************************************/
        fetch('http://localhost:5000/route/api')

/*************************************************************************************
Step 2: Fetching the text function from response. 
        Response returns various methods out of which text is one such function.
*************************************************************************************/
            .then(response => response.text())
            .then(function(text){
                var obj = JSON.parse(text);
                var cellValue = "";
/*************************************************************************************
Step 3: Iterating through the object to fetch corresponding values
*************************************************************************************/
                for (value in obj){
                    cellValue += "<tr><td><input type='checkbox'></td><td><input type='text' class='form-control' value='"+obj[value].id+"' disabled></td><td><input type='text' class='form-control'onChange ='firstNameChange()' value='"+obj[value].firstName+"'></td><td><input type='text' class='form-control' onChange ='lastNameChange()' value='"+obj[value].lastName+"'></td><td><input type='text' class='form-control' onChange ='genderChange()' value='"+obj[value].gender+"'></td><td><input type='text' class='form-control' onChange ='ageChange()' value='"+obj[value].age+"'></td></tr>";
                }
                document.getElementById("jsonTableBody").innerHTML = cellValue;
        });

/*************************************************************************************
Step 5: Based on the input value changed, the corresponding function is called to
        store the value.
        For example: if first Name of some ID is changed, the below firstNameChange
        function will be called and the corresponding ID and first Name are stored in
        firstName list
*************************************************************************************/
        var firstNameValue = {};
        function firstNameChange(){
            var table = document.getElementById("jsonTable");
             for(var i=1,row;row = table.rows[i];i++){
                if(row.cells[0].children[0].checked){
                        firstNameValue = { 
                          id :  row.cells[1].children[0].value,
                          firstName : row.cells[2].children[0].value
                        };
                        break;
                }  
            }
        };

        var lastNameValue ={};
        function lastNameChange(){
            var table = document.getElementById("jsonTable");
            for(var i=1,row;row = table.rows[i];i++){
                if(row.cells[0].children[0].checked){
                       lastNameValue = { 
                          id :  row.cells[1].children[0].value,
                          lastName : row.cells[3].children[0].value
                        };
                        break;
                }  
            }
        };

        var genderValue ={};
        function genderChange(){
            var table = document.getElementById("jsonTable");
            for(var i=1,row;row = table.rows[i];i++){
                if(row.cells[0].children[0].checked){
                        genderValue = { 
                          id :  row.cells[1].children[0].value,
                          gender : row.cells[4].children[0].value
                        };
                        break;
                }  
            }
        };

        var ageValue ={};
        function ageChange(){
            var table = document.getElementById("jsonTable");
            for(var i=1,row;row = table.rows[i];i++){
                if(row.cells[0].children[0].checked){
                        ageValue = { 
                          id :  row.cells[1].children[0].value,
                          age : row.cells[5].children[0].value
                        };
                        break;
                }  
            }
        };

/*************************************************************************************
Step 4: Call function on click of Update button
*************************************************************************************/
        function UpdateRow(){
            
/**********************************************************************************************
Step 6 : (a) For using Http Patch, as per the controller, we append the ID value in the URL
         (b) Based on the values in the list, corresponding if codition is triggered and
             ID is appended to the URL
         (c) Additionally Note: In case of Http Patch, we make use of following parameters
             op(operation) : Specifies the more of operation example replace, add, remove
             path          : The field Name to be changed, modified or removed
             value         : The value of the name to be changed with in case of add, replace
***********************************************************************************************/
            if(!firstNameValue){
                alert("Blank values are not allowed");
            }else{
                var updateURL = "http://localhost:5000/route/api/" + firstNameValue.id;
                var bodyValue = JSON.stringify([{op:"replace",path:"FirstName",value:firstNameValue.firstName}]);
                patchQuery(bodyValue,updateURL);
            }

            if(!lastNameValue){
                alert("Blank values are not allowed");
            }else{
                var updateURL = "http://localhost:5000/route/api/" + lastNameValue.id;
                var bodyValue = JSON.stringify([{op:"replace",path:"LastName",value:lastNameValue.lastName}]);
                patchQuery(bodyValue,updateURL);
            }

            if(!genderValue){
                alert("Blank values are not allowed");
            }else{
                var updateURL = "http://localhost:5000/route/api/" + genderValue.id;
                var bodyValue = JSON.stringify([{op:"replace",path:"Gender",value:genderValue.gender}]);
                patchQuery(bodyValue,updateURL);
            }

            if(!ageValue){
                alert("Blank values are not allowed");
            }else{
                var updateURL = "http://localhost:5000/route/api/" + ageValue.id;
                var bodyValue = JSON.stringify([{op:"replace",path:"Age",value:ageValue.age}]);
                patchQuery(bodyValue,updateURL);
            }

        };

            function patchQuery(bodyValue, updateURL){
/*************************************************************************************
Step 7 : Using JavaScript fetch function for Http Patch call.
*************************************************************************************/
                        fetch(updateURL, {
                            method: 'PATCH',
                            body: bodyValue,
/*************************************************************************************
Step 8 :    While using Http POST, PUT, PATCH and DELETE pass Content-type as application/json
            Header is passed to notify the server that we are sending JSON value 

            Fetch Supports CORS(Cross Origin Resource Sharing).
            Using Normal Fetch without enabling CORS will not work
            Hence CORS needs to be enabled, see Startup.cs file
*************************************************************************************/
                            headers: {
                                "Content-type": "application/json; charset=UTF-8",
                                'Access-Control-Allow-Origin': '*',
                            }
                        })
/*************************************************************************************
Step 9: Fetching the status function from response. 
        Since the controller does not return any value, Status of 204 means the request
        processing was 'OK' i.e the information was processed properly.
*************************************************************************************/
                        .then(response => response.status)  
                        .then(function(status){
                            if(status == 204){
                                alert("value updated successfully");
                                location.reload();
                            }else{
                                if(status == 404){
                                    alert("Bad Request");
                                }else{
                                    alert("Updation failed- Code: "+status);
                                }
                            }
                        }).catch(function(error){
                            alert(error);
                        });
        };

    </script>
    </html>
